<div class="container-fluid my-4">
    <div class="row">

        <div class="col-md-4">
            <div class="card">
                <div class="card-header">Take</div>
                <div class="card-body">
                    <button #myTestDiv class="btn-success"> Add</button>
                </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="card">
                <div class="card-header">Take Example (take() five records operator)</div>
                <div class="card-body">
                    <ul id="elcontainer">

                    </ul>
                </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="card">
                <div class="card-header">Take last two </div>
                <div class="card-body">
                    <ul id="elcontainer2">

                    </ul>
                </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="card">
                <div class="card-header">Take until operator</div>
                <div class="card-body">
                    <ul id="elcontainer3">

                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>