<div class="row">

    <div class="d-flex flex-row bd-highlight align-items-stretch pl-2 mb-3 my-3">
        <div class="p-2 bd-highlight card" style="margin-inline:5px;">
            <a routerLink="fromevent" class="nav-link">From Event</a>
        </div>
        <div class="p-2 bd-highlight card p1" style="margin-inline:5px;">
            <a routerLink="interval" class="nav-link">Interval</a>
        </div>

        <div class="p-2 bd-highlight card" style="margin-inline:5px;">
            <a routerLink="offrom" class="nav-link">Of and From</a>
        </div>

        <div class="p-2 bd-highlight card" style="margin-inline:5px;">
            <a routerLink="toarrayoperator" class="nav-link">To Array Operator</a>
        </div>
        <div class="p-2 bd-highlight card p1" style="margin-inline:5px;">
            <a routerLink="coustome" class="nav-link">Coustome Observable</a>
        </div>
    </div>

    <div class="d-flex flex-row bd-highlight align-items-stretch pl-2 mb-3 my-3">
        <div class="p-2 bd-highlight card" style="margin-inline:5px;">
            <a routerLink="map" class="nav-link">Map Operator</a>
        </div>
        <div class="p-2 bd-highlight card p1" style="margin-inline:5px;">
            <a routerLink="pluck" class="nav-link">Pluck Operator</a>
        </div>

        <div class="p-2 bd-highlight card" style="margin-inline:5px;">
            <a routerLink="filter" class="nav-link">Filter Operator</a>
        </div>

        <div class="p-2 bd-highlight card" style="margin-inline:5px;">
            <a routerLink="tap" class="nav-link">Tap</a>
        </div>

        <div class="p-2 bd-highlight card" style="margin-inline:5px;">
            <a routerLink="take" class="nav-link">Take</a>
        </div>

        <div class="p-2 bd-highlight card" style="margin-inline:5px;">
            <a routerLink="retry" class="nav-link">Retry Opertor</a>
        </div>




    </div>






    <div class="d-flex flex-row bd-highlight align-items-stretch pl-2 mb-3 my-3">
        <div class="p-2 bd-highlight card" style="margin-inline:5px;">
            <a routerLink="debounce" class="nav-link">Debounce Time & Distinguishuntil</a>
        </div>

        <div class="p-2 bd-highlight card" style="margin-inline:5px;">
            <a routerLink="subject" class="nav-link">Subject</a>
        </div>

        <div class="p-2 bd-highlight card" style="margin-inline:5px;">
            <a routerLink="replaysubject" class="nav-link">Replay Subject</a>
        </div>

        <div class="p-2 bd-highlight card" style="margin-inline:5px;">
            <a routerLink="asyncsubject" class="nav-link">Async Subject</a>
        </div>

        <div class="p-2 bd-highlight card" style="margin-inline:5px;">
            <a routerLink="concat" class="nav-link">Concat</a>
        </div>

        <div class="p-2 bd-highlight card" style="margin-inline:5px;">
            <a routerLink="merge" class="nav-link">Merge</a>
        </div>

    </div>






</div>