<div class="my-3">
    <h2>Replay Subject</h2>
    <br>

    <div class="row">
        <div class="col">
            <h3>Add Video</h3>
        </div>
    </div>

    <hr>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <input type="text" class="form-control" #myinput>
        </div>
        <div class="col-md-3">
            <button class="btn-primary" (click)="AddVideo(myinput.value)">Add Video</button>
        </div>

    </div>

    <hr>
    <div class="row">
        <div class="col-md-4">
            <strong>User - 01</strong>
            <hr>
            <ul class="video-list" *ngFor="let item of user1">
                <li>
                    <strong>Video:</strong> {{item}}
                </li>
            </ul>
        </div>



        <div class="col-md-4">
            <strong>User - 02</strong>
            <hr>
            <ul class="video-list" *ngFor="let item of user2">
                <li>
                    <strong>Video:</strong> {{item}}
                </li>
            </ul>
            <button class="btn btn-sm" [ngClass]="subscribeMode1? 'btn-danger' : 'btn-primary'" (click)="Usersubscribe()">{{subscribeMode1? 'Unsubscribe' : 'Subscribed'}}</button>
        </div>


        <div class="col-md-4">
            <strong>User - 03</strong>
            <hr>
            <ul class="video-list" *ngFor="let item of user3">
                <li>
                    <strong>Video:</strong> {{item}}
                </li>
            </ul>
            <button class="btn btn-sm" [ngClass]="subscribeMode2? 'btn-danger' : 'btn-primary'" (click)="Usersubscribe3()">{{subscribeMode2? 'Unsubscribe' : 'Subscribed'}}</button>
        </div>
    </div>
</div>