<div class="container-fluid my-4">
    <div class="row">

        <h3>Username is <strong class="text-success">{{ username}} {{ gender }}</strong></h3>
        <button class="btn-primary col-md-2" (click)="changeMale()">Change </button>
    </div>

    <div class="row my-4">
        <div class="col-md-4">
            <app-coms1></app-coms1>
        </div>
        <div class="col-md-4">
            <app-coms2></app-coms2>

        </div>
        <div class="col-md-4">
            <app-coms3></app-coms3>

        </div>
    </div>
</div>